

*{
    
    margin: 0;
    padding: 0;
}

body{
    background-color: #222222;
    background-image: url(hah-certo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    padding-bottom: 50px;
    width: 100%;
    
    
}

#periferico{
    max-width: 100%;
    height: 66px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#planos{
    font-size: 16px;
}

#teste{
    height: 10.7px;
    padding: 6px;
    font-size: 12px;
    font-weight: bolder; 
    background-color: red;
    color: white;
    border-radius: 20px;
}

#logo{
    margin-top: 17px;
    margin-left: 15px;
}

header{
margin-left: 5px;
margin-right: 5px;
}

header h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    font-size: 28px;
    color: white;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.login{
    display: flex;
    justify-content: space-between;
    
}

#entrar{
    display: flex;
    margin-top: 36px; 
    margin-right: 30px;
}

#portugues{
    color: white;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.326);
    border: 1px solid white;
    border-radius: 2px;
    
    font-size: 15px;
}

#btnEntrar{
    margin-left: 15px;
    padding: 7px;
    border: 0px;
    background-color: red;
    color: white;
    border-radius: 3px;
    font-size: 15px;
}

#btnEntrar:hover{
    background-color: rgb(217, 0, 0);
}

.teste1{
    background-color: azure;
}

.slogan{
    margin: auto;
    max-width: 700px;
    text-align: center;
}

.slogan p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
}

.slogan #propaganda{
    max-width: 370px;
    margin-bottom: 0px;
    font-size: 18px;
    color: white;
    text-align: center;
    margin: auto;
}

#email{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 2px;

}

#value-email{
    width: 434.9px;
    height: 48px;
    padding-left: 8px;
    
}


#confirm-email{
    margin-top: 10px;
    height: 40px;
    border: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: red;
    color: white;
    border-radius: 2px;
}

#confirm-email:hover{
    background-color: rgb(217, 0, 0);
}

main{
        margin-top: 60px;
}

.caracteristicas{
    margin-top: 10px;
    background-color: black;
    height: 526px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.subtitulos{
        color: white;
        
        max-width: 414px;
}
.subtitulos h2{
    margin-top: 20px;
    font-size: 26px;
}
.subtitulos p{
    padding-top: 10px;
    font-size: 20px;
}

.img-carac{
    margin-top: -70px;
    width: 380px;
    height: 300px;
}


#registro{
    display:none;
    background-color: #181818fc;
    width: 300px;
    height: 350px;   
    position: relative;
    margin-left: -150px;
    margin-top: -330px;
    left: 50%;
    top: 50%;
    border-radius: 8px;
    border: 1.57px solid red;
    box-shadow: 10px 10px 10000px rgb(0, 0, 0);
    color: white;
    text-align: center;
}


.dados{
    margin-top: 80px;
    font-family: Arial, Helvetica, sans-serif;
}

#nomeeSenha{
    font-family: Arial, Helvetica, sans-serif;
}

.dados h3{
    margin: 0px 10px 13px 10px;
    margin-top: -10px;
    font-size: 20px;
}

.inputsInfo{
    height: 30px;
    margin: 8px;
    padding: 5px 5px 5px 15px;
    width: 230px;
    border-radius: 3px;
    background-color: #333333;
    color: white;
    border: none;

    
}

#logonetflix{
    margin-top: -200px;
    height: 100px;
}

#novaconta{
    text-decoration: none; 
}

#novaconta:hover{
    text-decoration: underline;
    color: rgb(19, 19, 203);
}

#entrarConta{
    height: 38px;
    margin: 8px;    
    width: 252px;
    background-color: red;
    color: white;
    border-radius: 3px;
    margin-bottom: 18px;
}

#entrarConta:hover{
    background-color: rgb(217, 0, 0);
}